body {

    height: 100vh;

    display: flex;

    align-items: center;

    justify-content: center;

    background: #f4f6fb;

    font-family: Segoe UI;

}


.login-box {

    width: 350px;

    background: white;

    padding: 30px;

    border-radius: 15px;

    box-shadow: 0 10px 30px #ddd;

}


input {

    width: 100%;

    padding: 14px;

    margin: 10px 0;

    box-sizing: border-box;

}


button {

    width: 100%;

    padding: 14px;

    background: #4b46ff;

    color: white;

    border: none;

    border-radius: 10px;

}